<div class="navbar navbar-toolbar">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a data-toggle="dropdown" class="navbar-brand dropdown-toggle" href="#">
                    master
                    <b class="caret"></b>
                </a>
            <ul class="navbar-brand dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li>
                    <a href="#" tabindex="-1">
                        <strong>Branch 1</strong>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <strong>Branch 2</strong>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Active class</a></li>
        <li><a href="#">Inactive class</a></li>
    </ul>
</div>
