{% extends 'layout.html' %}

{% import 'macros.html' as macros %}

{% block content %}


{% if tree %}
<h3>Current tree</h3>
<div class="row">
  <div class="col-sm-8">
    <table id="gitweb" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Age</th>
          <th>Last Commit</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in tree %}
        <tr>
          <td class="{% if entry.filemode == 16384 %}folder{% else %}file{% endif %}">
            <a href="#">
              {{ entry.name }}
            </a>
          </td>
          <td> An hour Ago </td>
          <td> {{ entry.hex|short }} </td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>
  <div class="col-sm-4"></div>
</div>
{% endif %}
{% endblock %}
