{% extends 'layout.html' %}
{% import 'macros.html' as macros %}

{% block git %}
    {% include "/git/git_layout.html" %}
{% endblock %}

{% block content %}
<div class="alert alert-info">
    <strong>Git message</strong>
    <br>
    <span class="text-muted">Author name</span>
    <a href="#" class="pull-right text-muted">Latest commit</span> <span style="color:#333;">vcchfdfyudtrdy</span></a>
</div>
<ul class="breadcrumb">
    <li class="active">Gitweb</li>
    <li><a href="#">Cooool</a></li>
</ul>
{% if tree %}
<table class="table table-hover gitweb-tree-table">
    <thead>
        <tr>
            <th width="150">Filename</th>
            <th width="150">Age</th>
            <th>Last Commit</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in tree %}
        <tr>
            <td>
                <i class="glyphicon glyphicon-{% if entry.filemode == 16384 %}folder-close{% else %}list-alt{% endif %}"></i>
                <a href="#">
              {{ entry.name }}
            </a>
            </td>
            <td> An hour Ago </td>
            <td><a href="#"> {{ entry.hex|short }} </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading"><span class="glyphicon glyphicon-book"></span> Readme</div>
<h1>This is markup</h1>
</div>
{% endblock %}



